# Mandatory parameters
VAULT_ADDR=https://vault.example.com

APP_NAME=${APP_NAME:-my_app}
APP_URL_PATH=app/${APP_NAME}/secrets

VAULT_LOGIN_URL="${VAULT_ADDR}/v1/auth/approle/login"
VAULT_SECRETS_URL="${VAULT_ADDR}/v1/${APP_URL_PATH}"

# Optionally you can specify values for ROLE_ID & SECRET_ID here
# ROLE_ID=<ROLE_ID for application>
# SECRET_ID=<SECRET_ID for application>

# Workaround for 'SSL certificate verification failed' error
# CURL_INSECURE=--insecure

# Path to logstash-keystore executable
LS_KEYSTORE=/usr/share/logstash/bin/logstash-keystore

# Set the directory for the keystore. This is should be the same directory as the logstash.yml settings file.
LS_DB_PATH=/usr/share/logstash/config
