VAULT_ADDR=https://vault.example.com

APP_NAME=${APP_NAME:-my_app}
VAULT_LOGIN_URL="${VAULT_ADDR}/v1/auth/approle/login"
VAULT_SECRETS_URL="${VAULT_ADDR}/v1/app/${APP_NAME}/secrets"

# CURL_INSECURE=--insecure
CURL_INSECURE=

# Path to logstash-keystore executable
LS_KEYSTORE=/usr/share/logstash/bin/logstash-keystore

# Set the directory for the keystore. This is should be the same directory as the logstash.yml settings file.
LS_DB_PATH=/usr/share/logstash/config

ROLE_ID=<ROLE_ID for application>
SECRET_ID=<SECRET_ID for application>
